# DataScienceEcosystem
H1: Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Julia

__Objectives__
List of popular languages for Data Science
- Python
- R
- Julia
- Scala
- C++
- Java

Some of the commonly used libraries used by Data Scientists include:
1. panda
2. numpy
3. tensorflow
4. matplolib
5. pytourch
6. spark

# Data Science Tools 
# Excersice 6
|Data Science Tools|
-------------------
|Jupyter notebook|
|Apache Zeppelin|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [59]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [60]:
#This will convert 200 minutes to hours by diving by 60
print("This converted 200 minutes to hours by diving by 60")
print("the resoult is:") 
(200/60)

This converted 200 minutes to hours by diving by 60
the resoult is:

3.3333333333333335

## Author
Emad khayati